{{! TODO: Need to make a form to submit a new post (no shit Sherlock) }}
<div class="form-container">
  <article class="card">
    <form id="post-form">
      <input id="post-title" placeholder="Title">
      </input>
      <textarea name="post-body" id="post-body" cols="30" rows="10" placeholder="Type post here.">
      </textarea>
      <button type="submit" class="btn">Submit</button>
    </form>
  </article>

</div>